@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html,
  body {
    @apply h-screen w-full bg-black;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
